:root {
    --background-color: #f6f6f6;
    --vigo-color: crimson;
    --slider-color: #A3A3A3;
    --input-number-color: #EBEBEB;
  }
  
  /* reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
  }
  
  .bmi-calculator {
    border: 5px solid white;
    border-radius: 10px;
    padding: 3em;
    margin: 2em;
    height: 520px;
    background-color: white;
  }
  
  .bmi-calculator-weight,
  .bmi-calculator-height {
    margin-bottom: 2.2em;
    width: 100%;
  }
  .btn {
    text-align: center;
    font-size: 1em;
    color: white;
    width: 100%;
    margin-bottom: 10px;
    padding: 11px 32px;
    transition: 0.2s;
    border: none;
    background-color: var(--vigo-color);
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .evaluation-message {
    margin: 10px 0;
  }
    
  .weight-slider,
.height-slider {
  width: 100%;
  height: 1px; /* Adjust this value for desired thickness */
  border-radius: 10px;
  background: var(--slider-color);
  outline: none;
}

input[type=range] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Additional styles can be added here if needed */
}
